<div class="card">
    <div class="card-body">
        <h1>Curso de Git</h1>
        <a href="" download="" class="btn btn-dark">
            Ver video
        </a>
        <div>
            <video src="video.webm" poster="" controls></video>
            <video src="video.mp4" autoplay muted loop></video>
        </div>
    </div>
</div>