<main class="index">
    <header class="masthead d-flex mern">
        <div class="container text-center my-auto " >
            <h1 class="mb-1">Cursos Ulima</h1>
            <h3 class="mb-5">
                <em>Cursos de la Universidad de Lima</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empecemos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>